# Virtual Environment
.venv/
venv/
ENV/

# IDE Settings
.idea/
.vscode/
*.code-workspace

# Data files
*.csv
*.json
*.xlsx
*.xls

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints